{{#each data}}
	<div class="image">
		<h4 id="head">{{this.title}}</h4>
		<img src="{{this.filepath}}" alt= {{this.title}}><br><br>
		<div class="like">
			<span>{{this.tags}}</span>
			<form action="/likes" method="GET">
				<input type="hidden" name="id" value="{{this.id}}">
				<button type="submit" class="btn-like">
				<span id="count">{{this.likes}}</span>
				<img src="assets/icons/like1.png" alt="like">
			</button>
			</form>
		</div>
	</div>

{{/each}}
